8509.RepeatMasker.lib.repbase.out
8509.RepeatMasker.lib.rps.out
8509.RepeatMasker.lib.trf.gff
echisCarinatus-families.fa.repbase.out
echisCarinatus-families.fa.rps.out
echisCarinatus-families.fa.trf.gff
echisCarinatus_de_novo_repeat_library_iter4.fasta.repbase.out
echisCarinatus_de_novo_repeat_library_iter4.fasta.rps.out
echisCarinatus_de_novo_repeat_library_iter4.fasta.trf.gff
old
RepBase5May2021.fasta.repbase.out
RepBase5May2021.fasta.rps.out
RepBase5May2021.fasta.trf.gff
aves.fa.repbase.out
aves.fa.rps.out
aves.fa.trf.gff
dfam_Hemiptera.fasta.repbase.out
dfam_Hemiptera.fasta.rps.out
dfam_Hemiptera.fasta.trf.gff
echis_rm.fasta.repbase.out
echis_rm.fasta.rps.out
echis_rm.fasta.trf.gff
myzusPersicae_bassLabG006_de_novo_repeat_library_iter4.fasta.repbase.out
myzusPersicae_bassLabG006_de_novo_repeat_library_iter4.fasta.rps.out
myzusPersicae_bassLabG006_de_novo_repeat_library_iter4.fasta.trf.gff
odb10v1_species.tab.gz
X8_temp.txt
X8_temp2.txt
X8_temp3.txt
X8_temp4.txt
counts.txt
eukaryotes_all_data.tsv
eukaryotes_all_data_X4_counts.txt
eukaryotes_all_data_X8_counts.txt
odb10v1_OG2genes.tab
odb10v1_OG2genes.tab.gz
odb10v1_all.fasta
odb10v1_all.fasta.fai
odb10v1_all_fasta.tab.gz
odb10v1_genes.tab
odb10v1_level2species.tab
odb10v1_level2species.tab.gz
Echis_RepeatModeler.fasta.repbase.out
Echis_RepeatModeler.fasta.rps.out
Echis_RepeatModeler.fasta.trf.gff
RinseSpin_solo_compiled_library.fasta.repbase.out
RinseSpin_solo_compiled_library.fasta.rps.out
RinseSpin_solo_compiled_library.fasta.trf.gff
actinopterygii.fasta.repbase.out
actinopterygii.fasta.rps.out
actinopterygii.fasta.trf.gff
aves.fasta.repbase.out
aves.fasta.rps.out
aves.fasta.trf.gff
cleaned_Echis_RepeatModeler.fasta.repbase.out
cleaned_Echis_RepeatModeler.fasta.rps.out
cleaned_Echis_RepeatModeler.fasta.trf.gff
crocodilians.fasta.repbase.out
crocodilians.fasta.rps.out
crocodilians.fasta.trf.gff
insects.fasta.repbase.out
insects.fasta.rps.out
insects.fasta.trf.gff
lepidosaurs.fasta.repbase.out
lepidosaurs.fasta.rps.out
lepidosaurs.fasta.trf.gff
mammalia.fasta.repbase.out
mammalia.fasta.rps.out
mammalia.fasta.trf.gff
testudines.fasta.repbase.out
testudines.fasta.rps.out
testudines.fasta.trf.gff
